<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Plan</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 <div class="container">
    <a href="/link_user">Click here</a>  <a href="/price_plans">Click here</a>
    {{{body}}}
 </div>
</body>
</html>