<div class="allocate">
    <h1>Allocatge price plan</h1>
    <form action="/link_user" method="POST">
        <input type="text" name="userInput">
         <select name="plans" id="plans">
      <option value="1">SMS100</option>
      <option value="4">SMS200</option>
      <option value="3">CALL WEEKLY</option>
     
    </select>
    <button type="submit">Allocate</button>

    <h2>{{username}}</h2>
    </form>
</div>