<div class="home">
    <h1>Phone Bill widget</h1>
    <h3>Calculate for user</h3>
    <form action="/calc_bill" method="POST">
        <label>Enter username<input type="text" name="username" id="username" placeholder="e.g Yamisa"></label>
        <label>usage: <input type="text" name="usage" id="usage"> </label>
        <button type="submit">calculate</button>
    </form>
    <h4>Phone bill total: <span></span></h4>
</div>