<div class="pricePlans">
    <h1>Price Plans</h1>

    <label>sms100 <a href="/price_plans/1">view users</a> </label>
    <label>sms100<a href="/price_plans/2">view users</a></label>
    <label>text<a href="/price_plans/3"></a>view users</label>
</div>